/* root css  */
:root{
    --btn-clr-a: #E76F51;
}

/* common css */
.btn-a{
    background-color: var(--btn-clr-a);
    padding: 10px 45px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 500;
}

.dfr-text-a{
    color: var(--btn-clr-a);
}
.dfr-text-b{
    color: #252B42;
}

/* banner section  */
.banner{
    height: 600px;
    width: 100%;
    background-color: #264653;
}

/* featured bike */

.img-gray{
    filter: grayscale(100%);
}

/* clients review */
.user-img{
    width: 40%;
}

.star{
    color: #E77C40;
}

.client-name{
    color: #5ABCF3;
}


.accrodion-btn{
    color: black;
    font-weight: 600;
}
.accrodion-btn:not(.collapsed) {
    color: black;
    background-color: white;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}